# Keil 编译输出
Objects/
Listings/
DebugConfig/
Output/
Build/
*.axf
*.hex
*.lib
*.o
*.d
*.map
*.bak
*.htm

# Keil 临时文件
*.uvoptx
*.uvguix.*

# 压缩包
*.zip
*.rar
*.7z

# VSCode
.vscode/
*.log

# 系统文件
.DS_Store
Thumbs.db

# 工具
keilkill.bat
